@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
.clip-path {
  clip-path: polygon(10% 0, 0 10%, 0% 100%, 90% 100%, 100% 90%, 100% 0);
}
}
input[type="range"] {
  background: transparent;
  pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: url("/range-thumb.svg") no-repeat center center;
  background-size: cover;
}

input[type='range']::-moz-range-thumb {
  pointer-events: auto;
  border: none;
  -moz-appearance: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: url("/range-thumb.svg") no-repeat center center;
  background-size: cover;
}

input[type='range']::-ms-thumb {
  pointer-events: auto;
  border: none;
  -ms-appearance: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: url("/range-thumb.svg") no-repeat center center;
  background-size: cover;
}